body {scroll-behavior:smooth;}
/* header */
header {
    background:rgba(255,255,255,0.9);
    position: fixed; width: 100%;
    z-index: 999;
}
header .header_wrap {
    max-width: 1120px;
    height: 90px;
    margin:0 auto;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
header h1 {width: 100px;}
header h1 a {}
header h1 a img {width:100%;}
header .h_right {
    display: flex; align-items: center;
}
header .h_right #searchFrm {}
header .h_right #searchFrm fieldset {}
header .h_right #searchFrm fieldset #searchTxt {
    padding:13px 80px 13px 10px;
    background:#eee;
    border-radius:5px;
}
header .h_right #searchFrm fieldset input::placeholder {width: 290px; color:#6a6a6a;}
header .h_right nav {}
header .h_right nav a {
    margin-left:15px;
    font-weight:500; font-size:1.125rem;
}
header .h_right nav a:first-child {margin-left:25px;}
/* main */
main {}
/* main-1 visual */
main .visual {
    background: #f9f9f9;
}
main .visual .visual_wrap {
    max-width:1120px;
    margin: 0 auto;
    height:990px;
}
main .visual .visual_wrap .left {}
main .visual .visual_wrap .left .v_top {
    /* background: yellow; */
    padding-top:335px;
    position: relative;
}
main .visual .visual_wrap .left .v_top h2 {}
main .visual .visual_wrap .left .v_top h2 img {width:640px;}
main .visual .visual_wrap .left .v_top > img {
    width:60px;
    position: absolute;
    top:410px; left:540px;
}
main .visual .visual_wrap .left .title {
    margin:55px 0 30px;
    font-size:1.875rem; font-weight: 500; line-height:38px;
}
main .visual .visual_wrap .left .contents {
    margin-bottom:25px;
    font-size:1.5rem;
}
main .visual .visual_wrap .left .app {}
main .visual .visual_wrap .left .app a {
    padding:10px 15px;
    font-size:1.313rem;
    color:#ff6f0e;
    border:1px solid #ff6f0e;
    border-radius:5px; 
    margin-right: 15px;
    
}
main .visual .visual_wrap .left .app a i {
    margin-right: 10px;
}
main .visual .visual_wrap .left .app a:hover {
    background:#ff6f0e; border:1px solid #fff; color:#fff;
}
main .visual .visual_wrap .right {}
main .visual .visual_wrap .right img:first-child {
    width:160px; height:260px;
    position: absolute; bottom:260px; right:480px;
    transform: rotateZ(7deg);
}
main .visual .visual_wrap .right img:last-child {
    width:655px;
    position: absolute; bottom:0; right:0;
    /* animation:translate 2s ease; */
}
@keyframes translate {
    0% {transform: translateX(100%);}
    100% {transform: translateX(0);}
}
/* aside */
aside {
    position:fixed;
    top:50%; left:140px;
    z-index:100;
} 
aside .bar {
    display:block; background:#4e4e4e;
    width:12px; height:12px;
    margin-bottom:10px;
    border-radius:50%;
}
aside .active {width:100%; background:#00e1ff;}
/* main-2 중고거래 */
main .trade {
    background:#11182a;
    position: relative;
}
main .trade .trade_wrap {
    max-width:1120px;
    margin:0 auto;
    height:900px;
    padding-top:260px;
}
main .trade .trade_wrap .left {}
/* 공통 적용 text css */
main section .left .txt {
    font-size:1.875rem; font-weight:600;
    color: #ff6f0e;
}
main section .left .head {
    color:#fff;
    font-size:3.75rem; font-weight:700;
    line-height:80px;
    margin:70px 0 40px;
}
main section .left .sub {
    color:#fff;
    font-size:1.5rem; font-weight:500;
    line-height:35px;
    margin-bottom:30px;
}
main section .left .view {}
main section .left .view a {}
main section .left .view a span {
    font-size:1.313rem; 
    padding:15px;
    background: #fff;
    border-radius:5px;
}
main section .left .view a span:last-child {margin-right:15px;}
main section .left .view a span:hover {
    /* background:#ff6f0e; color:#fff; */
    color:#ff6f0e;
}

main .trade .trade_wrap .left img {
    position: relative;
    bottom:-50px; left:50px;
    width:314px;
}
main .trade .trade_wrap .right {
}
main .trade .trade_wrap .right img {
    position: absolute; 
}
main .trade .trade_wrap .right .banner001 {
    width:500px; top:-3%; right:15%;
}
main .trade .trade_wrap .right .banner002 {
    width:300px;
    top:20%; right:0;
    border-top-left-radius:45px;
    border-top-right-radius:45px;
}
main .trade .trade_wrap .right .banner003 {
    width:400px;
    top:65%; right:21%;
    border-radius: 10px;
}
/* main-3 동네생활 */
main .life {
    background:#310A15;
}
main .life .life_wrap {
    max-width:1120px;
    margin:0 auto;
    height:900px;
    padding-top:216px;
}
main .life .life_wrap .left {}
main section .left .life_contents {
    display: flex; 
}
main section .left .life_contents div {
    display: flex;
    flex-flow:column nowrap;
    color:#fff;
}
main section .left .life_contents .meet {}
main section .left .life_contents div img {
    width:55px;
}
main section .left .life_contents div .name {}
main section .left .life_contents div .explain {}



/* main .trade .play_bg {
    width:100%; height:400px;
    background:#11182a url(../images/png/bg_001.png) repeat-x;
    animation:bg 30s linear infinite;
}

@keyframes bg {
    0% {background-position:0 0;}
    100% {background-position:-1000px 0;}
} */